/* Resetting margins and padding */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', sans-serif;
}

/* Heading styles */
h1 {
    font-size: 24px;
}

/* Paragraph styles */
p {
    margin-bottom: 20px;
}

/* Container styles */
.container {
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 500px;
    width: 90%;
    overflow-y: auto;
}

/* Centered form */
.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Final image alignment */
.final-image {
    display: flex;
    justify-content: center;
}

/* Text field styles */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

/* Explanation text field styles */
input[type=text]:nth-child(4) {
    font-size: 1rem;
    font-weight: 400;
}

/* Caption text field styles */
input[type=text]:nth-child(3n + 2),
input[type=text]:nth-child(3n + 3) {
    font-size: 0.8rem;
    font-weight: 400;
    color: dimgrey;
}

/* Progress images */
.progress-images {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* File input styles */
input[type=file] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    color: white;
}

/* Progress image container */
.progress-image {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

/* Cancel link styles */
.cancel-link {
    font-size: 1em;
    background-color: #000;
    color: #ffffff;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition-duration: 0.4s;
}

.cancel-link:hover {
    background-color: #2d2d2d;
    cursor: pointer;
}

/* Custom file input button styles */
input::file-selector-button {
    font-weight: 550;
    padding: 0.5em;
    border-radius: 3px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    border: 2px dashed #44bba4;
    width: 252px;
    height: 252px;
    transition-duration: 0.4s;
}

input::file-selector-button:hover {
    background-color: #E8E8E8;
    cursor: pointer;
}

/* General button styles */
button {
    font-size: 1em;
    background-color: #44bba4;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition-duration: 0.4s;
    margin: 20px;
}

button:hover {
    background-color: #5ba597;
    cursor: pointer;
}