.body
{
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}


/*Main*/
.main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
}

.main h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    padding: 0px 50px 0px 50px;
    text-align: center;
}

.instructions
{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', serif;
    font-size: 20px;
    padding: 0px 50px 0px 50px;
    text-align: center;
}

.templates
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 100px 10px 100px;
    list-style-type: none;
    gap: 50px;
}


.option
{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*text-align: center; /**/
}


.tempTitle
{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    color:black;
    font-family: 'Gill Sans', serif;
    font-size: 25px;
    padding: 20px;
}


.tempImg
{
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 100%;
    height: auto;
}


.descriptions
{
    display: flex;
    padding-right: 15px;
    padding-top: 10px;
    justify-content: center;
    font-family: 'Gill Sans', serif;
}
/*End of Main*/

/*Footer*/
    footer
    {
        background-color: #000;
        color: #fff;
        padding: 10px 10px;
        text-align: center;
        width: 100%;
        font-family: 'Gill Sans', sans-serif;
    }

    .footer--nav ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        color: #fff;
        gap: 1rem;
        list-style-type: none;
        font-family: 'Gill Sans', sans-serif;
    }

    .footer--nav ul li a
    {
        color: #fff;
        text-decoration: none;
    }

    .footer--nav ul li a:hover
    {
        text-decoration-line: underline;
    }

    @media only screen and (max-width: 800px)
    {
        .templates
        {
            flex-direction: column;
        }

        .tempImg
        {
            width: 100%;
        }
    }

@media only screen and (max-width: 1000px)
    {
        .templates
        {
            gap: 20px;
            padding: 10px 50px 10px 50px;
        }

        .tempImg
        {
            width: 100%;
        }
    }
/*End of Footer*/