<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Edit Template</title>
    </head>

    <body>

        <header class="header">

                <nav>
                    <ul class="nav">
                        <li>logo</li>
                        <li><a href="">Home</a></li>
                        <li><a href="">Templates</a></li>
                        <li><a href="">Portfolio</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Help</a></li>
                    </ul>
                </nav>

                <personal>
                    <ul class="personal">
                        <li><a href="">Settings</a></li>
                        <li><a href="">Profile</a></li>
                    </ul>
                </personal>

            </header>


        <div>
           <h1>You are editing your template</h1>
            <a href="">Back</a>
            <p>Click on any of the boxes to upload an image. Click on the text to edit it</p>
        </div>


        <form id="templateForm" method="post" action= "{% url 'selectTemplate' %}">
            {% csrf_token %}
            {{templateForm}}
            <button type="submit">Save</button>
        </form>

    </body>

</html>