<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Explore</title>
        <link rel="stylesheet" href="{% static 'Artfolio/css/explore.css' %}"/>
        <link rel="stylesheet" href="{% static 'Artfolio/css/headerFooter.css' %}"/>
    </head>

    <body class="body">
        <header class="header">
            <div class="header-container">
                <img src="static/Artfolio/Images/artfolio-logo.png" alt="Artfolio Logo" class="logo">
                <link rel="stylesheet" href="header.css"/>

                <div class="explore-link">
                    <a href="">Home</a>
                    <a href="{% url 'main' %}">Profile</a>
                </div>

                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </header>

            <!--Explore page navigation -->
            <div class="info">
                <h1 class="title">Explore</h1>
                <p class="dir">Take a look at other people's work!</p>
                <div class="filters">
                    <button type="submit">All</button>
                    <button type="submit">Cartoon</button>
                    <button type="submit">Realism</button>
                    <button type="submit">Colourful</button>
                </div>
                <hr>
            </div>
            <!--End of Explore page navigation -->

            <!--Images-->
            <div class="Images">

            </div>
            <!--End of Images-->

        <!--Footer section-->
        <footer>
            <div class="footer">
        <div class="footer">
            <!--1st div-->
            <div class="container--footer">
                <!--<h2 class="sr-only">Site footer</h2>-->
                <!--2nd div-->
                <nav class="footer--nav">
                    <!--<h3 class="sr-only">Footer navigation</h3>-->
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="{% url 'main' %}">Profile</a></li>
                    </ul>
                </nav>
            </div>
            <p class="copyright">Copyright &copy 2024 Artfolio. All rights reserved.</p>
        </div><br><br>
        </footer>
    </body>
</html>