<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Explore</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="static/Artfolio/Images/artfolio-favicon.png"/>
        <link rel="stylesheet" href="{% static 'Artfolio/css/explore.css' %}"/>
        <link rel="stylesheet" href="{% static 'Artfolio/css/headerFooter.css' %}"/>
        <script src="{% static 'Scripts/header.js' %}"></script>
    </head>

    <body class="body">
        <header class="header">
            <div class="header-container">
                <img src="{% static 'Artfolio/Images/artfolio-logo.png' %}" alt="Artfolio Logo" class="logo">

                <div class="explore-link">
                    <a href="{% url 'explore' %}"> <img src="{% static 'Artfolio/Images/Explore.png' %}" alt="Explore Icon" style="width: 30px; height: 30px; margin-right: 10px;">Explore</a>
                    <a href="{% url 'main' %}"> <img src="{% static 'Artfolio/Images/Profile.png' %}" alt="Profile Icon" style="width: 30px; height: 30px; margin-right: 10px;">Profile</a>
                </div>

                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </header>

        <main>
            <!--Explore page navigation -->
            <div class="info">
                <h1 class="title">Explore</h1>
                <p class="dir">Take a look at other people's work!</p>
                <div class="filters">
                    {% for filterTag in filterTags %}
                        <a {% if filterTag.id == filterTagId %} class="selected" {% endif %}
                                href="{% url 'exploreFiltered' filterTag.id %}">{{ filterTag.name }}</a>
                    {% endfor %}
                </div>
                <hr>
            </div>
            <!--End of Explore page navigation -->

            <!--Images-->
            <div class="Images">
                {% for portfolio in portfolios %}
                    <ul>
                        <li>
                           <img src="{{ portfolio.p1FinalImg.url }}"/>
                        </li>
                        <li>
                           <img src="{{ portfolio.p2FinalImg.url }}"/>
                        </li>
                        <li>
                           <img src="{{ portfolio.p3FinalImg.url }}"/>
                        </li>
                        <li>
                           <img src="{{ portfolio.p4FinalImg.url }}"/>
                        </li>
                    </ul>
                {% endfor %}
            </div>
            <!--End of Images-->
        </main>
        <!--Footer section-->
        <footer>
            <div class="footer">
                <div class="footer">
                    <!--1st div-->
                    <div class="container--footer">
                        <!--<h2 class="sr-only">Site footer</h2>-->
                        <!--2nd div-->
                        <nav class="footer--nav">
                            <!--<h3 class="sr-only">Footer navigation</h3>-->
                            <ul>
                                <li><a href="{% url 'explore' %}">Explore</a></li>
                                <li><a href="{% url 'main' %}">Profile</a></li>
                            </ul>
                        </nav>
                    </div>
                    <p class="copyright">Copyright &copy 2024 Artfolio. All rights reserved.</p>
                </div><br><br>
            </div>
        </footer>
    </body>
</html>