<!DOCTYPE html>
<html>

<head>
    <title>My Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="static/Artfolio/Images/artfolio-favicon.png"/>
    <link rel="stylesheet" href="{% static 'Artfolio/css/headerFooter.css' %}"/>
    <link rel="stylesheet" href="{% static 'Artfolio/css/main.css' %}"/>
    <script src="{% static 'Scripts/header.js' %}"></script>
</head>

<body class="body">
        <header class="header">
            <div class="header-container">
                <img src="{% static 'Artfolio/Images/artfolio-logo.png' %}" alt="Artfolio Logo" class="logo">

                <div class="explore-link">
                    <a href="{% url 'explore' %}"> <img src="{% static 'Artfolio/Images/Explore.png' %}" alt="Explore Icon" style="width: 30px; height: 30px; margin-right: 10px;">Explore</a>
                    <a href="{% url 'main' %}"> <img src="{% static 'Artfolio/Images/Profile.png' %}" alt="Profile Icon" style="width: 30px; height: 30px; margin-right: 10px;">Profile</a>
                </div>

                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </header>

    <main>
       <div class = "wrapper">
        <!--Profile bio section-->
        <section>
            <div class="profile">
                <div class="container--profile">
                    <div class="profile--flex">
                        <div class="profile--flex--content">
                            <h2>{{ user.username }}</h2>
                            <div class="profile--placeholder"></div>
                            <!--<img class="profile--photo" src="profile-photo.png" alt="Profile photo" />-->
                            <p>Ontario, Canada</p>
                            <p>Open to work</p>
                            <a class="btn--edit--profile" href="#" id="edit-pr"><button>Edit Profile</button></a>
                            <p class="summary">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                                possimus id hic ipsum, consequuntur magni facere dicta,
                                laborum tempore illo ullam commodi odio est voluptatum
                                placeat. Repellat praesentium qui quaerat.
                            </p><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       
        <!--Portfolio section-->
        <section>
            <div class ="sub--section">
                <header>
                <div class="sub--header">
                    <div class="navbar--container">
                        <nav class="navbar">
                        <ul class="left-items">
                            <li><a href="#" onclick="showContent(1); return false;">My Work</a></li>
                            <li><a href="#" onclick="showContent(3); return false;">Contact me</a></li>
                        </ul>
                        <ul class="right-items">
                            <li><a class="btn--copy--link" href="#">Copy Link</a></li>
                        </ul>
                    </nav>
                    </div>
                </div>
            </header><br><br>

            <!--Contact me section-->
            <div id="content3" style="display: none;">
                <form action="/submit-form" method="POST">
                <input type="text" id="name" name="name" placeholder="Name" required><br><br>

                <input type="text" id="email" name="email" placeholder="Email" required><br><br>

                <textarea id="message" name="message" placeholder="Message" rows="4" cols="50" required></textarea><br><br>

                <input type="submit" value="Send">
            </form><br><br>
            </div>

            <div id="content1" >
                <!--My work section-->


                {% if myTemplate %}
                <!-- Display Portfolio Information -->

                    <div class="portfolio-info">

                        <div class="project">
                            <h2>Project 1 Title: {{ myTemplate.project1Title }}</h2>
                            <div class="final-image">
                                <img src="{{ myTemplate.p1FinalImg.url }}" alt="Project Final Image" style="width:100%;max-width:600px;">
                            </div>
                           <br> {{ myTemplate.p1FinalCap }}<br><br>
                            {{ myTemplate.p1Explanation }}<br> <br>

                            <h3 class="progress"> Progress: </h3>
                            <div class = "progress-images">
                                <div class="progress-image">
                                    <img src="{{ myTemplate.p1ProgressImg1.url }}" alt="Project 1 Progress Image" style="width:100%;max-width:600px;">
                                    <br>{{ myTemplate.p1ProgressCap1 }}
                                </div>
                                <div class="progress-image">
                                    <img src="{{ myTemplate.p1ProgressImg2.url }}" alt="Project 1 Progress Image" style="width:100%;max-width:600px;">
                                    <br>{{ myTemplate.p1ProgressCap2 }}
                                </div>
                                <div class="progress-image">
                                    <img src="{{ myTemplate.p1ProgressImg3.url }}" alt="Project 1 Progress Image" style="width:100%;max-width:600px;">
                                    <br>{{ myTemplate.p1ProgressCap3 }}
                                </div>
                            </div>
                        </div>

                        <div class="project">
                            <h2>Project 2 Title: {{ myTemplate.project2Title }}</h2>
                            <div class="final-image">
                                <img src="{{ myTemplate.p2FinalImg.url }}" alt="Project Final Image" style="width:100%;max-width:600px;">
                            </div>
                            <br>{{ myTemplate.p2FinalCap }}<br><br>
                            {{ myTemplate.p2Explanation }}<br>

                            <h3 class="progress"> Progress: </h3>
                            <div class = "progress-images">
                                <div class="progress-image">
                                    <img src="{{ myTemplate.p2ProgressImg1.url }}" alt="Project 2 Progress Image" style="width:100%;max-width:600px;">
                                    <br>{{ myTemplate.p2ProgressCap1 }}
                                </div>
                                <div class="progress-image">
                                    <img src="{{ myTemplate.p2ProgressImg2.url }}" alt="Project 2 Progress Image" style="width:100%;max-width:600px;">
                                   <br> {{ myTemplate.p2ProgressCap2 }}
                                </div>
                                <div class="progress-image">
                                    <img src="{{ myTemplate.p2ProgressImg3.url }}" alt="Project 2 Progress Image" style="width:100%;max-width:600px;">
                                  <br>  {{ myTemplate.p2ProgressCap3 }}
                                </div>
                            </div>
                        </div>

                        <div class="project">
                            <h2>Project 3 Title: {{ myTemplate.project3Title }}</h2>
                            <div class="final-image">
                                <img src="{{ myTemplate.p3FinalImg.url }}" alt="Project Final Image" style="width:100%;max-width:600px;">
                            </div>
                            <br>{{ myTemplate.p3FinalCap }}<br><br>
                            {{ myTemplate.p3Explanation }}<br><br>

                            <h3 class="progress"> Progress: </h3>
                            <div class = "progress-images">
                                <div class="progress-image">
                                    <img src="{{ myTemplate.p3ProgressImg1.url }}" alt="Project 3 Progress Image" style="width:100%;max-width:600px;">
                                    <br>{{ myTemplate.p3ProgressCap1 }}
                                </div>
                                <div class="progress-image">
                                    <img src="{{ myTemplate.p3ProgressImg2.url }}" alt="Project 3 Progress Image" style="width:100%;max-width:600px;">
                                    <br>{{ myTemplate.p3ProgressCap2 }}
                                </div>
                                <div class="progress-image">
                                    <img src="{{ myTemplate.p3ProgressImg3.url }}" alt="Project 3 Progress Image" style="width:100%;max-width:600px;">
                                    <br>{{ myTemplate.p3ProgressCap3 }}
                                </div>
                            </div>
                        </div>

                        <div class="project">
                            <h2>Project 4 Title: {{ myTemplate.project4Title }}</h2>
                            <div class="final-image">
                                <img src="{{ myTemplate.p4FinalImg.url }}" alt="Project Final Image" style="width:100%;max-width:600px;">
                            </div>
                            <br>{{ myTemplate.p4FinalCap }}<br><br>
                            {{ myTemplate.p4Explanation }}<br><br>

                            <h3 class="progress"> Progress: </h3>
                            <div class = "progress-images">
                                <div class="progress-image">
                                    <img src="{{ myTemplate.p4ProgressImg1.url }}" alt="Project 4 Progress Image" style="width:100%;max-width:600px;">
                                    <br>{{ myTemplate.p4ProgressCap1 }}
                                </div>
                                <div class="progress-image">
                                    <img src="{{ myTemplate.p4ProgressImg2.url }}" alt="Project 4 Progress Image" style="width:100%;max-width:600px;">
                                    <br>{{ myTemplate.p4ProgressCap2 }}
                                </div>
                                <div class="progress-image">
                                    <img src="{{ myTemplate.p4ProgressImg3.url }}" alt="Project 4 Progress Image" style="width:100%;max-width:600px;">
                                    <br>{{ myTemplate.p4ProgressCap3 }}
                                </div>
                            </div>
                        </div>


                </div>
                {% else %}
                 <center>   <p>You have not created a portfolio yet.</p></center>
                {% endif %}
                <a class="btn--edit--portfolio" href="{% url 'selectTemplate' %}"><span>Edit portfolio</span></a>
               </div>
            
                    

            
                <br><br>
            </div>
        </section><br><br>
    </div>
    </main>


    <!--Footer section-->
    <footer>
        <div class="footer">
            <!--1st div-->
            <div class="container--footer">
                <!--<h2 class="sr-only">Site footer</h2>-->
                <!--2nd div-->
                <nav class="footer--nav">
                    <!--<h3 class="sr-only">Footer navigation</h3>-->
                    <ul>
                        <li><a href="{% url 'explore' %}">Explore</a></li>
                        <li><a href="{% url 'main' %}">Profile</a></li>
                    </ul>
                </nav>
            </div>
            <p class="copyright">Copyright &copy 2024 Artfolio. All rights reserved.</p>
        </div>
    </footer>


<!--JavaScript-->
<script>
    function showContent(contentNumber) {
      // Hide all content divs
      var allContentDivs = document.querySelectorAll('[id^="content"]');
      allContentDivs.forEach(function(div) {
        div.style.display = 'none';
      });

      // Show the selected content div
      var selectedContentDiv = document.getElementById('content' + contentNumber);
      selectedContentDiv.style.display = 'block';
    }
  </script>
</body>
</html>