<!DOCTYPE html>

<html lang="en-ca">

    <head>
        <meta charset="uft-8">
        <title>Templates</title>
        {% load static %}
        <link rel="stylesheet" href="static/Artfolio/css/template.css"/>
    </head>

    <body class="body">
        <header class="header">

            <nav>
                <ul class="nav">
                    <li>logo</li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Templates</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Help</a></li>
                </ul>
            </nav>

            <personal>
                <ul class="personal">
                    <li><a href="">Settings</a></li>
                    <li><a href="">Profile</a></li>
                </ul>
            </personal>

        </header>

        <main class="main">
            <h1>Start your portfolio by choosing from the following templates!</h1>
            <p class="instructions">Click on one of the portfolio templates to be able to edit it and add your own images and text</p>
            <ul class="templates">
                <li>
                    <div class="option">
                        <a href="{% url 'newTemplate' %}" class="tempTitle">Template #1</a>
                        <img class="tempImg" src= "static/Artfolio/Images/Template 1.png" alt="">
                        <p class="descriptions">
                            Lorem ipsum dolor sit amet. In provident nihil nam ipsam modi ab explicabo aperiam aut voluptatem
                            culpa quo autem molestias vel dolor doloremque et cupiditate laboriosam. In voluptate voluptatem
                            eos dolorem exercitationem ut sunt dolores non beatae quasi aut omnis deserunt. Qui similique ullam
                            aut impedit libero in rerum ratione in iusto ducimus!
                        </p>
                    </div>
                </li>

                <li>
                    <div class="option">
                        <a href="" class="tempTitle">Template #2</a>
                        <img class="tempImg" src= "static/Artfolio/Images/Template 2.png" alt="">
                        <p class="descriptions">
                            Lorem ipsum dolor sit amet. In provident nihil nam ipsam modi ab explicabo aperiam aut voluptatem
                            culpa quo autem molestias vel dolor doloremque et cupiditate laboriosam. In voluptate voluptatem
                            eos dolorem exercitationem ut sunt dolores non beatae quasi aut omnis deserunt. Qui similique ullam
                            aut impedit libero in rerum ratione in iusto ducimus!
                        </p>
                    </div>
                </li>
               <li>
                    <div class="option">
                        <a href="" class="tempTitle">Template #3</a>
                        <img class="tempImg" src= "static/Artfolio/Images/Template 3.png" alt="">
                        <p class="descriptions">
                            Lorem ipsum dolor sit amet. In provident nihil nam ipsam modi ab explicabo aperiam aut voluptatem
                            culpa quo autem molestias vel dolor doloremque et cupiditate laboriosam. In voluptate voluptatem
                            eos dolorem exercitationem ut sunt dolores non beatae quasi aut omnis deserunt. Qui similique ullam
                            aut impedit libero in rerum ratione in iusto ducimus!
                        </p>
                    </div>
               </li>
            </ul>

        </main>
    </body>

</html>