<!DOCTYPE html>

<html lang="en-ca">

    <head>
        <meta charset="uft-8">
        <title>Templates</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'Artfolio/css/template.css' %}"/>
        <link rel="stylesheet" href="{% static 'Artfolio/css/headerFooter.css' %}"/>
    </head>

    <body class="body">
        <header class="header">
            <div class="header-container">
                <img src="static/Artfolio/Images/artfolio-logo.png" alt="Artfolio Logo" class="logo">
                <link rel="stylesheet" href="header.css"/>

                <div class="explore-link">
                    <a href="">Home</a>
                    <a href="{% url 'main' %}">Profile</a>
                </div>

                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </header>

        <main class="main">
            <h1>Start your portfolio by choosing from the following templates!</h1>
            <p class="instructions">Click on one of the portfolio templates to be able to edit it and add your own images and text</p>
            <ul class="templates">
                <li>
                    <div class="option">
                        <a href="{% url 'newTemplate' %}" class="tempTitle">Template #1</a>
                        <img class="tempImg" src= "static/Artfolio/Images/Template 1.png" alt="">
                        <p class="descriptions">
                            Lorem ipsum dolor sit amet. In provident nihil nam ipsam modi ab explicabo aperiam aut voluptatem
                            culpa quo autem molestias vel dolor doloremque et cupiditate laboriosam. In voluptate voluptatem
                            eos dolorem exercitationem ut sunt dolores non beatae quasi aut omnis deserunt. Qui similique ullam
                            aut impedit libero in rerum ratione in iusto ducimus!
                        </p>
                    </div>
                </li>

                <li>
                    <div class="option">
                        <a href="" class="tempTitle">Template #2</a>
                        <img class="tempImg" src= "static/Artfolio/Images/Template 2.png" alt="">
                        <p class="descriptions">
                            Lorem ipsum dolor sit amet. In provident nihil nam ipsam modi ab explicabo aperiam aut voluptatem
                            culpa quo autem molestias vel dolor doloremque et cupiditate laboriosam. In voluptate voluptatem
                            eos dolorem exercitationem ut sunt dolores non beatae quasi aut omnis deserunt. Qui similique ullam
                            aut impedit libero in rerum ratione in iusto ducimus!
                        </p>
                    </div>
                </li>
               <li>
                    <div class="option">
                        <a href="" class="tempTitle">Template #3</a>
                        <img class="tempImg" src= "static/Artfolio/Images/Template 3.png" alt="">
                        <p class="descriptions">
                            Lorem ipsum dolor sit amet. In provident nihil nam ipsam modi ab explicabo aperiam aut voluptatem
                            culpa quo autem molestias vel dolor doloremque et cupiditate laboriosam. In voluptate voluptatem
                            eos dolorem exercitationem ut sunt dolores non beatae quasi aut omnis deserunt. Qui similique ullam
                            aut impedit libero in rerum ratione in iusto ducimus!
                        </p>
                    </div>
               </li>
            </ul>

        </main>

        <footer>
            <div class="footer">
                <!--1st div-->
                <div class="container--footer">
                    <!--<h2 class="sr-only">Site footer</h2>-->
                    <!--2nd div-->
                    <nav class="footer--nav">
                        <!--<h3 class="sr-only">Footer navigation</h3>-->
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="{% url 'main' %}">Profile</a></li>
                        </ul>
                    </nav>
                </div>
                <p class="copyright">Copyright &copy 2024 Artfolio. All rights reserved.</p>
            </div><br><br>
        </footer>

    </body>

</html>